
checkpoint/swin_tiny_patch244_window877_kinetics400_1k.pth
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/misc.xml
.idea/modules.xml
.idea/other.xml
.idea/vcs.xml
.idea/video-captioning-swin-transformer.iml
coco_caption/pyciderevalcap/tokenizer/tmpBF49XX
coco_caption/pyciderevalcap/tokenizer/tmpql9uU7
coco_caption/pyciderevalcap/tokenizer/tmpuCp_T0
coco_caption/pyciderevalcap/tokenizer/tmpxAmV_C
coco_caption/pyciderevalcap/tokenizer/tmpzNW4I2
coco_caption/pycocoevalcap/tokenizer/tmp5zqynfzy
coco_caption/pycocoevalcap/tokenizer/tmplcjcdusq
coco_caption/pycocoevalcap/tokenizer/tmps82e821g
*.pyc
coco_caption/pyciderevalcap/tokenizer/tmpBF49XX
coco_caption/pyciderevalcap/tokenizer/tmpql9uU7
coco_caption/pyciderevalcap/tokenizer/tmpuCp_T0
coco_caption/pyciderevalcap/tokenizer/tmpxAmV_C
coco_caption/pyciderevalcap/tokenizer/tmpzNW4I2
coco_caption/pycocoevalcap/tokenizer/tmp5zqynfzy
coco_caption/pycocoevalcap/tokenizer/tmplcjcdusq
coco_caption/pycocoevalcap/tokenizer/tmps82e821g
coco_caption/pyciderevalcap/tokenizer/tmpBF49XX
coco_caption/pyciderevalcap/tokenizer/tmpql9uU7
coco_caption/pyciderevalcap/tokenizer/tmpuCp_T0
coco_caption/pyciderevalcap/tokenizer/tmpxAmV_C
coco_caption/pyciderevalcap/tokenizer/tmpzNW4I2
coco_caption/pycocoevalcap/tokenizer/tmp5zqynfzy
coco_caption/pycocoevalcap/tokenizer/tmplcjcdusq
coco_caption/pycocoevalcap/tokenizer/tmps82e821g
/outdated/
/outdated/
/checkpoint/b64_lr0001_dp03_emb512_e4_d4_hd8_hi2048_MSRVTT&I3Drgb_earlystop.pth
/checkpoint/b64_lr0001_dp03_emb512_e4_d4_hd8_hi2048_MSRVTT&resnet152&for_deployment_earlystop.pth
/checkpoint/b64_lr0001_dp03_emb512_e4_d4_hd8_hi2048_MSRVTT&resnet152&for_deployment_epoch10.pth
/checkpoint/b64_lr0001_dp03_emb512_e4_d4_hd8_hi2048_MSRVTT&resnet152&for_deployment_epoch20.pth
/checkpoint/default_runtime.py
/checkpoint/swin_tiny.py
/checkpoint/swin_tiny_patch244_window877_kinetics400_1k.pth
/checkpoint/swin_tiny_patch244_window877_kinetics400_1k.py
