[submodule "submodules/video_features"]
	path = submodules/video_features
	url = https://github.com/Kamino666/video_features.git
[submodule "submodules/pycocoevalcap"]
	path = submodules/pycocoevalcap
	url = https://github.com.cnpmjs.org/Kamino666/pycocoevalcap.git
